{% extends 'base.html'%}


{% block page__title %}
    Blogs
{% endblock page__title %}


{% block body %}
    <h2>Məqalələriniz</h2>

    <div class="search__form">
        <form>
            {% csrf_token %}
            <input type="text" name="keyword" placeholder="Axtar...">
            <button type="submit" class="btn">Axtar</button>
        </form>
    </div>

    <div class="articles">
        <ul> 
            {% for article in articles %}
                <li>
                    <h3>{{article.author}}</h3>
                    <h4>{{article.title}}</h4>
                    <p>{{article.content|safe|truncatechars:60}}</p>
                    <small>{{article.create_date}}</small>
                    <img class="items" src=../Media/{{article.image}} alt="">          
                </li>
                <!-- <i class="fa-solid fa-gear"></i>
                <i class="fa-solid fa-trash"></i>
                <hr> -->
            {% endfor %}
        </ul>
    </div>
    <br>
    <a href="{% url 'addarticle' %}"><button class="btn">Əlavə et</button></a>
    <br>
    {% endblock body %}







